/* Global Styling */
*{
    margin: 0;
    padding: 0;
}

/* Define a custom counter style named 'arrow' */
@counter-style arrow {
    system: cyclic;
    symbols: '►'; /* Arrow symbol */
    suffix: ' '; /* Add a space after the arrow */
}

/* Basic Styling */
body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

/* Navigation Styling */
nav{
    width: 100%;
    max-height: 100px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: start;
    align-items: center;
    padding: 25px 0px 25px 0px;
}

.nav-container li{
    padding-left: 25px;
    padding-right: 25px;
    font-family: monospace, arial;
    color: white;
    font-size: 18px;
}

.nav-container a{
    text-decoration: none;
    color: white;
}

.nav-container a:hover{
    color: black;
}

/* About Me Styling */
.aboutme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.aboutme div{
    padding-right: 50px;
    text-align: left;
}

.aboutme div p{
    padding-top: 10px;
}

.rameelimg{
    max-width: 1200px;
    max-height: 500px;
    border-radius: 25px;
}

/* Skills & Project Styling */
.skills{
    text-align: left;
    padding: 0px 20px 0px 20px;
}

.skills h2{
    margin-top: 5px;
}

.skills ol{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    list-style: arrow;
    list-style-position: inside;
}

.skills li{
    padding: 2.5px;
}

.icons{
    font-size: 32px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
}

#project1:hover{
    cursor: pointer;
}

#projectInfo{
    padding: 10px;
    display: none;
}

.project1-content {
    display: flex;
}

.project1-content div{
    padding: 5px;
}

.project1-content p{
    padding: 5px 10px 5px 10px;
}

.project1-content img{
    max-height: 500px;
    border: 1px solid purple;
}

.project1-content .p1-icons{
    font-size: 32px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.project1-content .p1-icons li{
    padding: 10px 5px 0 20px;
}

/* Contact */
.contact-container{
    text-align: left;
    padding: 0px 0px 0px 20px;
}

.ct-icons{
    font-size: 32px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.ct-icons li{
    padding-top: 20px;
    padding-left: 10px;
}

.ct-icons .ct-pd{
    padding-left: 40px;
}

.ct-icons a{
    text-decoration: none;
    color: black;
}

/* Footer */
footer{
    display: flex;
    color: rgba(0, 0, 0, 0.253);
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 5px;
}