/* Global Styling */
*{
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

header{
    width: 100%;
    max-height: 100px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: start;
    align-items: center;
    padding: 25px 50px 25px 50px;
}

.nav-container li{
    padding-right: 50px;
    font-family: monospace, arial;
}